.t-inner, .t-body {
  width: 100%;
  height: 100%;
}
.t-layout-card-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute !important;
}
.t-dock {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
}
.t-dock.t-sized, .t-dock.t-sized>.t-dock-body>*, .t-dock.t-sized>.t-dock-body>.t-body>.t-inner {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.t-dock.t-dock-vertical {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}
.t-dock>.t-dock-body {
   overflow: hidden;
}
.t-dock.t-sized>.t-dock-body {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  min-height: 0;
  min-width: 0;
}
.t-layout-fit-item.t-sized{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0
}
